<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>554921844880-9b8p9j2c8kfero9u56n9aednqk8ab7j8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.554921844880-9b8p9j2c8kfero9u56n9aednqk8ab7j8</string>
	<key>API_KEY</key>
	<string>AIzaSyA_44gNGc068WAbTi3bKg_bRJnMWt2qWUY</string>
	<key>GCM_SENDER_ID</key>
	<string>554921844880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat</string>
	<key>PROJECT_ID</key>
	<string>chat-45393</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-45393.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554921844880:ios:1d3e76e49da677d1b47815</string>
</dict>
</plist>